.card__container{
    width: 275px;
    height: 324px;
    margin: 15px;
}

.card__image img{
    width: 275px;
    height: 206px;
    object-fit: fill ;
    border-radius: 2px;
}

.card__description{
    font-size: 13px;
    line-height: 19px;
    font-family: "Open Sans",system-ui,sans-serif;
}

.card__price{
    padding: 2px 5px 1px;
    background-color: #ffe59e;
    border-radius: 4px;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    margin:  5px -1px;
}

.main__description{
    max-width: 245px;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Open Sans",system-ui,sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    color:#0e88df;
    outline: none;
    text-decoration: none;
}

.card__summary{
    box-sizing: border-box;
}
